# Select one of: inmemory, redis, postgresql, nats, rabbitmq
FASTAPI_WEBSOCKETS_BACKEND=inmemory

# In-memory backend
FASTAPI_WEBSOCKETS_INMEMORY_CAPACITY=100

# Redis backend
FASTAPI_WEBSOCKETS_REDIS_URL=redis://localhost:6379/0
FASTAPI_WEBSOCKETS_REDIS_PREFIX=fastapi-websockets
FASTAPI_WEBSOCKETS_REDIS_CLUSTER=false
FASTAPI_WEBSOCKETS_REDIS_CHANNEL_EXPIRY=60
FASTAPI_WEBSOCKETS_REDIS_GROUP_EXPIRY=86400
FASTAPI_WEBSOCKETS_REDIS_USE_PUBSUB=true
FASTAPI_WEBSOCKETS_REDIS_SHARDED_PUBSUB=true

# PostgreSQL backend
FASTAPI_WEBSOCKETS_POSTGRESQL_DSN=postgresql://db:pass@123@localhost:5432/db
FASTAPI_WEBSOCKETS_POSTGRESQL_SCHEMA=fastapi_websockets
FASTAPI_WEBSOCKETS_POSTGRESQL_CHANNEL_EXPIRY=60
FASTAPI_WEBSOCKETS_POSTGRESQL_GROUP_EXPIRY=86400
FASTAPI_WEBSOCKETS_POSTGRESQL_POLL_INTERVAL=0.1
FASTAPI_WEBSOCKETS_POSTGRESQL_ENSURE_SCHEMA=true

# NATS backend
FASTAPI_WEBSOCKETS_NATS_SERVERS=nats://localhost:4222
FASTAPI_WEBSOCKETS_NATS_PREFIX=fastapi-websockets
FASTAPI_WEBSOCKETS_NATS_GROUP_BUCKET=fastapi_websockets_groups
FASTAPI_WEBSOCKETS_NATS_STREAM_NAME=FASTAPI_WEBSOCKETS
FASTAPI_WEBSOCKETS_NATS_MESSAGE_TIMEOUT=60.0

# RabbitMQ backend
FASTAPI_WEBSOCKETS_RABBITMQ_URL=amqp://test:test@localhost:5672//
FASTAPI_WEBSOCKETS_RABBITMQ_EXCHANGE_NAME=fastapi_websockets
FASTAPI_WEBSOCKETS_RABBITMQ_QUEUE_PREFIX=fastapi-websockets
FASTAPI_WEBSOCKETS_RABBITMQ_DURABLE=true
# Leave empty to disable TTL
FASTAPI_WEBSOCKETS_RABBITMQ_MESSAGE_TTL=60000
